.product
{
	.no-photo
	{
		display: none;
	}
}

.category-page
{
	.product-list
	{
		list-style-type: none;
		padding-left: 0;
		.product.image, .placeholder.image.product
		{
			height: 75px;
			width: 75px;
		}
		> .product
		{
			padding: .75em .5em;
			position: relative;
			&.opens-page
			{
				transition: 120ms background-color ease-out;
				&:hover, &:focus
				{
					background-color: lighten($brand-primary, 50%);
				}
			}
		}
	}
}
