.product
{
	.no-photo
	{
		display: none;
	}
}

.category-page
{
	.product-list
	{
		list-style-type: none;
		padding-left: 0;
		img.product.image, a.product.image > img, .placeholder.image.product
		{
			height: 75px;
			width: 75px;
		}
		&.product-page-list
		{
			img.product.image, a.product.image > img, .placeholder.image.product
			{
				height: 125px;
				width: 125px;
			}
			> .product
			{
				font-size: 20px;
			}
		}
		> .product
		{
			padding: .75em .5em;
			position: relative;
			&.opens-page
			{
				transition: 120ms background-color ease-out;
				&:hover, &:focus
				{
					background-color: lighten($brand-primary, 50%);
				}
			}
			.product-heading
			{
				font-size: 1.25em;
			}
			.product-description
			{
				font-size: 1em;
			}
		}
	}
}
