// TYPOGRAPHY

@include fontFace('TW Cen MT', 'TwCenUltraBold', 800, 'normal');

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
nav > li, .nav > li, nav > li > a, .nav > li > a
{
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
.home.home_title_hidden .page-header
{
	display: none;
}
.navbar.navbar-static-top
{
	background-color: #fafafa;
	border-bottom: 7px solid $brand-primary;
		box-shadow: 0px 4px #3C2323;
}
.navbar-default .navbar-brand
{
	color: #252525;
	&:hover
	{
		color: #111;
	}
	text-transform: uppercase;
	font-weight: 700;
	// color: $brand-primary;
	height: auto; // w/ svg
	.logo
	{
		display: inline-block;
		vertical-align: middle;
		height: 113px;
		width: 100px;
		width: 11.3vw;
		height: 10vw;
		margin: .5em 0;
	}
	span
	{
		font-size: 32px;
		white-space: nowrap;
		font-size: 5vw;
	}
}

aside.sidebar
{
	@include media-query-min($screen-sm + 1px) {
		border-right: 1px rgba($brand-primary, .2) solid;
	}
}

.nav-pills > li
{
	&, &.active
	{
		> a
		{
			border-radius: 0;
			// border-bottom: 1px rgba($brand-primary, .2) solid;
			margin-left: -2.6em;
			padding-left: 2.6em;
		}
	}
	& > a:hover
	{
		background-color: $bg-hover;
		&:before
		{
			content: '★';
			position: absolute;
			left: 1em;
		}
	}
	+ li
	{
		margin-top: 0;
	}
}

.nav-pills > li.active > a
{
	&, &:hover, &:focus
	{
		color: lighten($brand-primary, 10%);
		background-color: transparent;
	}
	&:hover, &:focus
	{
		background-color: $bg-hover;
	}
	&:before
	{
		content: '★';
		position: absolute;
		left: 1em;
	}
}
h1, h2, .navbar-default .navbar-brand {
	font-family: 'TW Cen MT';
	font-weight: 800;
}

// ----- Main Layout

@include media-query-min($screen-sm + 1px) 
{
	.navbar.navbar-static-top
	{
		border-bottom-width: 10px;
		box-shadow: 0px 8px #3C2323;
		// display: none;
		nav.navbar-collapse
		{
			display: none !important;
		}
		.navbar-brand
		{
			span
			{
				font-size: 64px;
				font-size: 5vw;
			}
			.logo
			{
				width: 142px;
				height: 125px;
				width: 11.3vw;
				height: 10vw;
			}
		}
	}
}

// ----- Order Form Page Layout

body
{
	position: relative;
	background-color: $background-color;
}

.clmn-main, .clmn-main-push, .clmn-sidebar, .clmn-sidebar-push
{
	background: $background-color;
}

body:not(.estimate-form)
{
	@include regular-ass-columns();
}

@include media-query-max($screen-md) {
	@include regular-ass-columns();
}

@include media-query-min($screen-md + 1px)
{
	%glyphicon-placeholder
	{
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.clmn-main-push, .clmn-main
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.estimate-form
	{

		.clmn-main-push, .clmn-main
		{
			@include make-md-column(12, $grid-gutter-width);
			padding-left: ($grid-gutter-width / 2) + $sidebar-minimized; 
		}
		.navbar.navbar-static-top
		{
			padding-left: $grid-gutter-width;
		}
		.clmn-sidebar-pull, .clmn-sidebar
		{
			@include make-md-column(3);
			background-color: white;
			position: fixed;
			left: 0;
			top: 0;
			min-height: 100%;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0, .12);
			z-index: 1001;
			transition: $sidebar-mv-duration $sidebar-mv-delay--out $sidebar-mv-prop $sidebar-mv-func;
			.widget
			{
				opacity: 0;
			}
			.widget, &:after
			{
				transition: $sidebar-mv-duration ($sidebar-mv-delay--out/2) opacity $sidebar-mv-func;
			}
			&:after
			{
				@extend %glyphicon-placeholder;
				color: $brand-primary;
				content: "\e012";
				position: absolute;
				top: 0;
				right: 0;
				font-size: 24px;
				width: $sidebar-minimized;
				line-height: $sidebar-minimized;
				text-align: center;
			}
			&:not(:hover)
			{
				transform: translateX(calc(-100% + #{$sidebar-minimized})) !important;
			}
			&:hover
			{
				transform: translateX(0);
				&, &:after, .widget
				{
					transition-delay: $sidebar-mv-delay;
				}
				&:after
				{
					opacity: 0;
				}
				.widget
				{
					opacity: 1;
				}
			}
		}
	}

}

// MODAL VIEW

.item-image
{
	max-width: 100%;
	& + .item-description
	{
		margin-top: 1em;
		font-size: 22px;
	}
}

.demo-image
{
	display: inline-block;
	border: 10px solid rgb(238, 238, 238);
	background-color: rgb(238, 238, 238);
	margin: 3px 5px;
}
.demo-image__img-wrap
{
	&:hover
	{
		opacity: .9;
	}
}

.demo-image__title
{
	font-style: italic;
}
.demo-image__admin-link
{
	display: block;
}

.close-message
{
	font-style: italic;
}

// REUSABLE

.clickable
{
	cursor: pointer;
}

.placeholder
{
	&.image
	{
		background-color: $pre-bg;
	}
}

.muted
{
	color: $text-muted;
}

.Media {
  display: flex;
  align-items: flex-start;
}

.Media-figure {
  margin-right: 1em;
}

.Media-body {
  flex: 1;
  .heading
  {
  	&:first-child
  	{
  		margin-top: 0;
  	}
  }
}

// HELPER CLASSES

.text-color
{
	color: $text-color;
}
.text-muted
{
	color: $text-muted;
}
.v-align-middle
{
	vertical-align: middle;
}
.v-align-top
{
	vertical-align: top;
}
.v-align-bottom
{
	vertical-align: bottom;
}

// HAX

.svg img.svg-inject
{
	visibility: hidden !important;
}

.modal
{
	overflow-y: auto;
}

.debug
{
	display: none;
}

footer.content-info
{
	text-align: center;
	color: #ccc;
	margin-top: 2em;
}