// TYPOGRAPHY

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
nav > li, .nav > li, nav > li > a, .nav > li > a
{
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

// ----- Order Form Page Layout

.estimate-form
{
	
}
.flex
{
	display: flex;
}

// ----- Order Form Table

	// Fitting inputs in cells
	td.input.dynamic
	{
		max-width: 2em;
	}
	td input
	{
		width: 100%;
	}
	td textarea
	{
		max-width: 100%;
		resize: vertical;
		text-overflow: ellipsis;
		&:focus
		{
			// width: 200px;
			max-width: 400px;
			min-height: 10em;
		}
	}
	tr .only-hover
	{
		opacity: 0;
	}
	tr:hover .only-hover
	{
		opacity: 1;
	}

		// Rental-period stuff
		.item-days
		{
			&:empty:after
			{
				content: "–";
				display: inline;
			}
		}
		tr:hover > td.rental-period
		{
			.date-control, .date-mode-control
			{
				opacity: 1;
			}
		}
		.date-controls-container
		{
			display: table-row;
			.date-controls
			{
				display: table-cell;
				vertical-align: middle;
				white-space: nowrap;
			}
		}
		td.rental-period
		{
			.date-type-label
			{
				display: none;
			}
			.individual-date, .date-separator
			{
				color: $text-muted;
			}
			.date-mode-control
			{
				opacity: 0;
				background: $brand-warning;
				margin-left: 10px;
			}
			.date-control
			{
				// background: $brand-info;
				opacity: .5;
				font-size: .5em;
				margin-left: 5px;
			}
			.date-control, .date-mode-control
			{
				color: white;
			}
			&.edit-mode
			{
				.date-type-label.edit-mode
				{
					display: block;
					color: $text-muted;
					font-style: italic;
				}
				.individual-date
				{
					color: $gray-dark;
					font-weight: 600;
				}
				.individual-date, .date-control
				{
					display: inline-block;
					vertical-align: middle;
				}
				.non-edit
				{
					display: none;
				}
				.date-separator
				{
					display: block;
					font-size: 0;
				}
			}
			.date-controls.right
			{
				height: 100%;
				.date-mode-control
				{
					min-height: 100%;
				}
			}
		}

// MODAL VIEW

.item-image
{
	max-width: 100%;
	& + .item-description
	{
		margin-top: 1em;
		font-size: 22px;
	}
}

.demo-image
{
	display: inline-block;
	border: 10px solid rgb(238, 238, 238);
	background-color: rgb(238, 238, 238);
	margin: 3px 5px;
}
.demo-image__img-wrap
{
	&:hover
	{
		opacity: .9;
	}
}

.demo-image__title
{
	font-style: italic;
}
.demo-image__admin-link
{
	display: block;
}

.close-message
{
	font-style: italic;
}

// REUSABLE

.muted
{
	color: $text-muted;
}