// ----- Order Form Table

section.order-form
{
	@include clearfix();
	margin: floor($line-height-computed / 2) 0;
	&:not(:last-child)
	{
		border-bottom: 1px solid $page-header-border-color;
	}
	&.ng-enter, &.ng-enter-active, &.ng-leave, &.ng-leave-active
	{
		display: block !important;
	}
	&.ng-leave, &.ng-enter
	{
		transition: .75s linear opacity;
	}
	&.ng-leave, &.ng-enter-active
	{
		opacity: 1;
	}
	&.ng-leave-active, &.ng-enter
	{
		opacity: 0;
	}
}

td.number
{
	text-align: right;
}

// Fitting inputs in cells
td.input.dynamic
{
	max-width: 2em;
}
td input
{
	width: 100%;
}
td.input.dynamic.notes
{
	min-width: 4em;
	max-width: none;
	textarea
	{
		max-width: 100%;
		resize: vertical;
		text-overflow: ellipsis;
		&:focus
		{
			// width: 200px;
			max-width: 400px;
			min-height: 10em;
		}
	}
}
tr .only-hover
{
	opacity: 0;
}
tr:hover .only-hover
{
	opacity: 1;
}

// Rental-period stuff
.item-days
{
	&:empty:after
	{
		content: "–";
		display: inline;
	}
}
tr:hover > td.rental-period
{
	.date-control, .date-mode-control
	{
		opacity: 1;
	}
}
.date-controls-container
{
	display: table-row;
	.date-controls
	{
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
	}
}
td.rental-period
{
	.date-type-label
	{
		display: none;
	}
	.individual-date, .date-separator
	{
		color: $text-muted;
	}
	.date-mode-control
	{
		opacity: 0;
		background: $brand-warning;
		margin-left: 10px;
	}
	.date-control
	{
		// background: $brand-info;
		opacity: .5;
		font-size: .5em;
		margin-left: 5px;
	}
	.date-control, .date-mode-control
	{
		color: white;
	}
	&.edit-mode
	{
		.date-type-label.edit-mode
		{
			display: block;
			color: $text-muted;
			font-style: italic;
		}
		.individual-date
		{
			color: $gray-dark;
			font-weight: 600;
		}
		.individual-date, .date-control
		{
			display: inline-block;
			vertical-align: middle;
		}
		.non-edit
		{
			display: none;
		}
		.date-separator
		{
			display: block;
			font-size: 0;
		}
	}
	.date-controls.right
	{
		height: 100%;
		.date-mode-control
		{
			min-height: 100%;
		}
	}
}
.item-name.linked i
{
	margin-left: .3em;
}