.loading
{
  padding: 2em 0;
  background-color: darken($background-color, 10%);
  border-radius: 5px;
}


.loading-status
{
  text-align: center;
}

// SPINNER

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin makeSpinner($size: 32px, $color: $brand-primary, $color2: transparent, $border: $size/6, $duration: 1.5s) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $border solid $color2;
  border-bottom: $border solid $color;
  border-top: $border solid $color;
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  // animation: spin 1s infinite linear;
}

.loading-spinner {
  @include makeSpinner($color2: rgba($brand-primary,.1));
  margin: 5rem auto;
}
.processing-spinner {
  @include makeSpinner($size: $font-size-base, $color: $gray-light);
}
.inline-spinner
{
  display: inline-block;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}
