// TYPOGRAPHY

$font-family-base: 'futura-pt', 'Futura Std', 'Futura', 'TW Cen MT';
$font-size-base: 16px;
$font-size-base: 18px;
$headings-font-weight: 700;

// COLOR
$brand-primary: #d4202b;
$background-color: hsl(0,0%,98%);
$color-current: lighten($brand-primary, 10%);
$bg-current: rgba($brand-primary, .1);
$bg-hover: darken($background-color, 2.5%);
$bg-has-items: rgb(202, 225, 245);
$bg-has-items-semiopaque: rgba(0, 136, 255, .2);

// LAYOUT
$sidebar-minimized: 42px;
$grid-gutter-width: 60px;
$nav-link-padding-v: 10px;
$nav-link-padding-h: 15px;

// ANIMATION
$sidebar-mv-duration: 450ms;
$sidebar-mv-delay: 70ms;
$sidebar-mv-delay--out: 50ms;
$sidebar-mv-prop: transform;
$sidebar-mv-func: cubic-bezier(0.200, 0.865, 0.720, 1.010);
