	        <div class="modal-header" ng-click="ok()">
	            <h3 class="modal-title">{{theItem.name}}</h3>
	        </div>
	        <div class="modal-body" ng-click="ok()">
	        	<img class="item-image" ng-if="theItem.image" ng-src="{{theItem.image}}">
				<p class="item-description" ng-if="theItem.description">{{theItem.description}}</p>
	        </div>
	        <div class="modal-footer" ng-click="ok()">
	        	<span class="muted close-message">Click anywhere to close</span>
	        </div>